<h1>Beer places search</h1>

<%= render 'search' %>

<% unless @places.nil? %>
  <table class="table table-hover">
    <thead>
      <th>name</th>
      <% Place.rendered_fields.each do |f| %>
        <th><%=f unless f == :name or f == :id  %></th>
      <% end %>
    </thead>
  
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= link_to place.name, place_path(place.id) %></td>
          <% Place.rendered_fields.each do |f| %>
            <td><%= place.send(f) unless f == :name or f == :id %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>